*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk

app/build/
app/release/
app/debug/

*.jks
*.keystore

app/google-services.json

*.log

Thumbs.db